* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

.container {
  overflow-x: hidden; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  border-radius: 5px;
  background: rgba(175, 28, 2, 0.5); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #af1c02;
  border-radius: 5px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #af1c02; }

.sectionHeader {
  height: 100vh;
  width: 100vw;
  background: url("../img/headerImg.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  background-attachment: fixed;
  border-left: 5px solid #af1c02; }

.sectionHeader__logo {
  height: 20%;
  width: 30%;
  background: url("../img/logo.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  position: sticky;
  left: 30px;
  top: 30px; }

.sectionHeader__menu {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer; }

.menuBar {
  display: block;
  height: 2px;
  width: 50px;
  background: #fff;
  margin: 15px 0;
  border-top: 3px solid transparent;
  transition: all .3s ease-in-out; }

.menuBar:hover {
  border-top: 3px solid #fff; }

.sectionHeader__offerBtn {
  position: absolute;
  padding: 20px;
  box-shadow: 0 0 0 3px #fff;
  background: rgba(175, 28, 2, 0.5);
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  bottom: 10vh;
  right: 50vw;
  transform: translateX(50%);
  outline: none;
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer; }

.sectionHeader__offerBtn:hover {
  background: #af1c02; }

.sectionHeader__offerBtn.sectionHeader__offerBtn--solid {
  background: #af1c02; }

.sectionNav {
  height: 10vh; }

.sectionMain {
  min-height: 100vh; }

@media (min-width: 1024px) {
  .sectionHeader {
    height: 100vh;
    width: 100vw;
    background: url("../img/headerImg.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    background-attachment: fixed;
    border-left: 5px solid #af1c02; }
  .sectionHeader__logo {
    height: 20%;
    width: 30%;
    background: url("../img/logo.png") center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    left: 30px;
    top: 30px; }
  .sectionHeader__menu {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  .menuBar {
    display: block;
    height: 2px;
    width: 50px;
    background: #fff;
    margin: 15px 0;
    border-top: 3px solid transparent;
    transition: all .3s ease-in-out; }
  .menuBar:hover {
    border-top: 3px solid #fff; }
  .sectionHeader__offerBtn {
    position: absolute;
    padding: 20px;
    box-shadow: 0 0 0 3px #fff;
    background: rgba(175, 28, 2, 0.5);
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 10vh;
    right: 50vw;
    transform: translateX(50%);
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer; }
  .sectionHeader__offerBtn:hover {
    background: #af1c02; }
  .sectionHeader__offerBtn.sectionHeader__offerBtn--solid {
    background: #af1c02; }
  .sectionNav {
    height: 10vh; }
  .sectionMain {
    min-height: 100vh; } }
