$black: rgb(0, 0, 0);
$blackO40: rgba(0, 0, 0, .4);
$colBrick: rgb(175, 28, 2);
$colBrickO50: rgba(175, 28, 2, .5);
$colLight:rgb(167, 147, 130);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    overflow-x: hidden;
}

// scrollbars
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey; */
    border-radius: 5px;
    background: $colBrickO50;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $colBrick;
    border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $colBrick;
}


.sectionHeader {

    height: 100vh;
    width: 100vw;
    background: url('../img/headerImg.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    background-attachment: fixed;
    border-left: 5px solid $colBrick;
}

.sectionHeader__logo {
    height: 20%;
    width: 30%;
    background: url('../img/logo.png') center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $black;
    position: sticky;
    left: 30px;
    top: 30px;

}

.sectionHeader__menu {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    // background: $blackO40;
}

.menuBar {
    display: block;
    height: 2px;
    width: 50px;
    background: #fff;
    margin: 15px 0;
    border-top: 3px solid transparent;
    transition: all .3s ease-in-out;

    &:hover {
        border-top: 3px solid #fff;
    }
}

.sectionHeader__btn--offer {
    position: absolute;
    padding: 20px;
    box-shadow: 0 0 0 3px #fff;
    background: $colBrickO50;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 10vh;
    right: 50vw;
    transform: translateX(50%);
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
    cursor: pointer;

    // border-radius: 50px;
    &:hover {
        background: $colBrick !important;
    }
}



.sectionNav {
    height: 10vh;
}

.sectionMain {
    min-height: 100vh;
}

@media (min-width : 1024px) {
    .sectionHeader {

        height: 100vh;
        width: 100vw;
        background: url('../img/headerImg.jpg') center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px;
        background-attachment: fixed;
        border-left: 5px solid $colBrick;
    }

    .sectionHeader__logo {
        height: 20%;
        width: 30%;
        background: url('../img/logo.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $blackO40;
        position: sticky;
        left: 30px;
        top: 30px;

    }

    .sectionHeader__menu {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        // background: $blackO40;
    }

    .menuBar {
        display: block;
        height: 2px;
        width: 50px;
        background: #fff;
        margin: 15px 0;
        border-top: 3px solid transparent;
        transition: all .3s ease-in-out;

        &:hover {
            border-top: 3px solid #fff;
        }
    }

    .sectionHeader__btn--offer {
        position: absolute;
        padding: 20px;
        box-shadow: 0 0 0 3px #fff;
        background: $colBrickO50;
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
        bottom: 10vh;
        right: 50vw;
        transform: translateX(50%);
        outline: none;
        border: none;
        transition: all .3s ease-in-out;
        cursor: pointer;

        // border-radius: 50px;
        &:hover {
            background: $colBrick;
        }
    }



    .sectionNav {
        height: 10vh;
    }

    .sectionMain {
        min-height: 100vh;
    }
}